.gitattributes zos-working-tree-encoding=utf-8 git-encoding=utf-8
templates/* zos-working-tree-encoding=ibm-1047 git-encoding=utf-8
cvfz.xml zos-working-tree-encoding=utf-8 git-encoding=utf-8
LICENSE zos-working-tree-encoding=ibm-1047 git-encoding=utf-8
README.md zos-working-tree-encoding=ibm-1047 git-encoding=utf-8